<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atlas/attack/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{112,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{216,445},{112,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{112,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,233},{112,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{112,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{216,233},{112,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{112,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{895,1},{112,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{114,217}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{674,119},{114,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{114,217}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{893,218},{114,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{116,219}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{674,1},{116,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{116,221}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,115},{116,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{120,219}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{453,1},{120,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-8}</string>
                <key>spriteSize</key>
                <string>{132,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{658,235},{132,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{861,437},{144,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{156,199}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{210,1121},{156,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{158,197}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{845,849},{158,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{154,203}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{853,644},{154,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{136,221}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{230,1},{136,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{112,227}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-7}</string>
                <key>spriteSize</key>
                <string>{138,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{212,781},{138,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-8}</string>
                <key>spriteSize</key>
                <string>{152,201}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{419,967},{152,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-5}</string>
                <key>spriteSize</key>
                <string>{156,197}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{411,1121},{156,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-3}</string>
                <key>spriteSize</key>
                <string>{156,197}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{610,1121},{156,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-2}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{839,1048},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atlas/attack/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{144,205}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,1129},{144,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{132,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{642,589},{132,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/attack/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{114,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{646,473},{114,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/default/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{114,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{646,473},{114,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{112,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,451},{112,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{110,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,671},{110,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{112,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{427,629},{112,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{114,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,783},{114,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{112,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{636,835},{112,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{110,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{630,949},{110,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{108,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{425,743},{108,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{104,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,565},{104,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{96,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{216,347},{96,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{92,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{431,423},{92,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{102,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{646,369},{102,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{110,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{429,517},{110,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{112,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{214,667},{112,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{112,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{421,853},{112,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{112,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{210,921},{112,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{114,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,899},{114,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{112,207}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,1015},{112,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{110,209}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{638,723},{110,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{106,211}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{214,559},{106,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{102,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{1,347},{102,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{96,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{453,123},{96,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{92,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{224,139},{92,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{92,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{441,221},{92,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atlas/move/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{106,213}</string>
                <key>spriteSourceSize</key>
                <string>{208,241}</string>
                <key>textureRect</key>
                <string>{{431,315},{106,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1008,1278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4561309f09b3a91db37d32ca3d4b26fc:c60e76eec69845451214c1ad96e667b7:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
