<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>katia/attack/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{120,133}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{849,422},{120,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,8}</string>
                <key>spriteSize</key>
                <string>{100,119}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{744,515},{100,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1,645},{100,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{100,117}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{181,643},{100,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,14}</string>
                <key>spriteSize</key>
                <string>{92,123}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{619,515},{92,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{104,135}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{857,148},{104,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{90,147}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{618,609},{90,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{98,155}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{117,162},{98,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{92,149}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{425,154},{92,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,2}</string>
                <key>spriteSize</key>
                <string>{104,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{857,1},{104,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,4}</string>
                <key>spriteSize</key>
                <string>{106,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,1},{106,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,3}</string>
                <key>spriteSize</key>
                <string>{102,149}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{419,309},{102,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{88,153}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{217,156},{88,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{100,147}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{419,460},{100,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{94,141}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,211},{94,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,12}</string>
                <key>spriteSize</key>
                <string>{124,121}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,636},{124,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{98,111}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{519,128},{98,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,13}</string>
                <key>spriteSize</key>
                <string>{76,113}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{103,645},{76,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,14}</string>
                <key>spriteSize</key>
                <string>{86,121}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{619,291},{86,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{86,121}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{833,641},{86,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{846,557},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,15}</string>
                <key>spriteSize</key>
                <string>{98,125}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{519,1},{98,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{102,135}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{853,285},{102,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{122,137}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,391},{122,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{100,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,109},{100,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{82,141}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{710,307},{82,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/attack/0/37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{86,141}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{619,148},{86,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,8}</string>
                <key>spriteSize</key>
                <string>{96,147}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{520,609},{96,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{90,159}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1,325},{90,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,3}</string>
                <key>spriteSize</key>
                <string>{94,153}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{205,319},{94,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/attack/0/41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{283,629},{130,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/default/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{283,629},{130,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>katia/move/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-6}</string>
                <key>spriteSize</key>
                <string>{110,157}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1,486},{110,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{102,157}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{113,484},{102,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{88,153}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{217,474},{88,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{94,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{423,1},{94,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{106,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{315,1},{106,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-7}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{301,311},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-6}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{307,156},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-7}</string>
                <key>spriteSize</key>
                <string>{110,149}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{307,464},{110,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{98,147}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{420,609},{98,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{88,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{619,1},{88,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{94,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{523,241},{94,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{96,147}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{521,460},{96,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{104,153}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{209,1},{104,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{110,157}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{93,325},{110,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-5}</string>
                <key>spriteSize</key>
                <string>{114,159}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{1,164},{114,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>katia/move/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-5}</string>
                <key>spriteSize</key>
                <string>{112,159}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{95,1},{112,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>katia.png</string>
            <key>size</key>
            <string>{970,761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8985ce4ac92035733152eab28c871e78:e4473173beccf031edfc7e0e4621fc54:144c2f248a44222a5bc022e61852c990$</string>
            <key>textureFileName</key>
            <string>katia.png</string>
        </dict>
    </dict>
</plist>
