<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paul/default/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,106},{97,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,708},{105,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{109,129}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{138,136},{109,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{109,129}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{138,267},{109,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{111,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{136,398},{111,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{105,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{134,785},{105,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-4}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,1199},{91,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-2}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,1292},{91,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-1}</string>
                <key>spriteSize</key>
                <string>{91,129}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,1003},{91,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-1}</string>
                <key>spriteSize</key>
                <string>{97,133}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,403},{97,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-1}</string>
                <key>spriteSize</key>
                <string>{103,135}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{109,133}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{138,1},{109,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-3}</string>
                <key>spriteSize</key>
                <string>{113,131}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,593},{113,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{113,129}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{134,654},{113,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{115,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{132,914},{115,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-6}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{132,1043},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-6}</string>
                <key>spriteSize</key>
                <string>{115,125}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{130,1170},{115,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-6}</string>
                <key>spriteSize</key>
                <string>{109,125}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{136,527},{109,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paul/move/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,1096},{101,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-4}</string>
                <key>spriteSize</key>
                <string>{95,129}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,906},{95,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-3}</string>
                <key>spriteSize</key>
                <string>{89,131}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,815},{89,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-2}</string>
                <key>spriteSize</key>
                <string>{89,133}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,502},{89,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-2}</string>
                <key>spriteSize</key>
                <string>{91,135}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,205},{91,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,106},{97,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paul/move/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{103,133}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{1,298},{103,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paul.png</string>
            <key>size</key>
            <string>{248,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70742a4f7d5bcb62309c1d95615e0474:c7daf7d49863c7fa8caae89066fba1c8:2ecda13b4a2dc35f99a083673cd3172c$</string>
            <key>textureFileName</key>
            <string>paul.png</string>
        </dict>
    </dict>
</plist>
