<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shield/attack/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-13}</string>
                <key>spriteSize</key>
                <string>{198,181}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{609,1151},{198,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-13}</string>
                <key>spriteSize</key>
                <string>{198,181}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{405,1322},{198,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-11}</string>
                <key>spriteSize</key>
                <string>{190,177}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,1477},{190,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-7}</string>
                <key>spriteSize</key>
                <string>{180,175}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{809,1167},{180,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-6}</string>
                <key>spriteSize</key>
                <string>{168,175}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{605,1334},{168,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-8}</string>
                <key>spriteSize</key>
                <string>{152,179}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{186,1656},{152,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-8}</string>
                <key>spriteSize</key>
                <string>{146,185}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{401,1505},{146,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-10}</string>
                <key>spriteSize</key>
                <string>{142,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{588,1505},{142,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-10}</string>
                <key>spriteSize</key>
                <string>{138,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{779,1504},{138,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-9}</string>
                <key>spriteSize</key>
                <string>{142,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{558,1653},{142,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-5}</string>
                <key>spriteSize</key>
                <string>{146,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{367,1656},{146,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,1}</string>
                <key>spriteSize</key>
                <string>{152,183}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,1656},{152,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,7}</string>
                <key>spriteSize</key>
                <string>{156,185}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{751,1649},{156,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,12}</string>
                <key>spriteSize</key>
                <string>{162,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{852,192},{162,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,12}</string>
                <key>spriteSize</key>
                <string>{168,201}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{205,925},{168,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{180,211}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{227,178},{180,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/attack/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{224,171}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,164},{224,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{238,161}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{230,175}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{241,1},{230,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{216,183}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{473,1},{216,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-20}</string>
                <key>spriteSize</key>
                <string>{204,185}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{207,551},{204,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-18}</string>
                <key>spriteSize</key>
                <string>{198,185}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,1290},{198,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{198,183}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{812,982},{198,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/attack/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-14}</string>
                <key>spriteSize</key>
                <string>{198,181}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{201,1473},{198,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/default/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{204,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,528},{204,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-15}</string>
                <key>spriteSize</key>
                <string>{202,185}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{205,738},{202,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-16}</string>
                <key>spriteSize</key>
                <string>{202,183}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,912},{202,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-16}</string>
                <key>spriteSize</key>
                <string>{202,181}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{409,757},{202,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-14}</string>
                <key>spriteSize</key>
                <string>{200,183}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{203,1288},{200,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-11}</string>
                <key>spriteSize</key>
                <string>{200,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{610,960},{200,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-9}</string>
                <key>spriteSize</key>
                <string>{200,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{408,940},{200,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-8}</string>
                <key>spriteSize</key>
                <string>{198,193}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{815,787},{198,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-7}</string>
                <key>spriteSize</key>
                <string>{200,193}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{821,585},{200,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/move/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-7}</string>
                <key>spriteSize</key>
                <string>{200,193}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{613,765},{200,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-7}</string>
                <key>spriteSize</key>
                <string>{202,193}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,717},{202,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-8}</string>
                <key>spriteSize</key>
                <string>{202,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{619,381},{202,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-11}</string>
                <key>spriteSize</key>
                <string>{204,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{646,192},{204,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{204,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,528},{204,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-10}</string>
                <key>spriteSize</key>
                <string>{204,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{413,377},{204,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-9}</string>
                <key>spriteSize</key>
                <string>{204,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,337},{204,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-8}</string>
                <key>spriteSize</key>
                <string>{204,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{691,1},{204,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-8}</string>
                <key>spriteSize</key>
                <string>{204,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{440,186},{204,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-9}</string>
                <key>spriteSize</key>
                <string>{204,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{207,360},{204,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-9}</string>
                <key>spriteSize</key>
                <string>{202,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{413,566},{202,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-9}</string>
                <key>spriteSize</key>
                <string>{202,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{823,381},{202,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shield/move/0/30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-10}</string>
                <key>spriteSize</key>
                <string>{202,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{617,574},{202,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-10}</string>
                <key>spriteSize</key>
                <string>{200,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{205,1095},{200,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-11}</string>
                <key>spriteSize</key>
                <string>{200,191}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{1,1097},{200,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield/move/0/33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-13}</string>
                <key>spriteSize</key>
                <string>{200,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,225}</string>
                <key>textureRect</key>
                <string>{{407,1133},{200,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shield.png</string>
            <key>size</key>
            <string>{1015,1809}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a98a182e18fe0f3c2260d3b4d135f47:72253afc59e65066a6315e3d5cb8e509:696d45f2d7f751d5a1f7d50444fec9b7$</string>
            <key>textureFileName</key>
            <string>shield.png</string>
        </dict>
    </dict>
</plist>
