<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>details/default/0/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{221,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,209},{221,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{221,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,421},{221,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{221,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,633},{221,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{221,206}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{219,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,845},{219,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{213,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{224,1},{213,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{224,213},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{224,425},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{224,637},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{222,849},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{219,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,1057},{219,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{219,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{222,1061},{219,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{215,214}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,1481},{215,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{217,214}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{218,1485},{217,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{1,1269},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>details/default/0/25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{221,214}</string>
                <key>textureRect</key>
                <string>{{220,1273},{217,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>world.png</string>
            <key>size</key>
            <string>{442,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5ac41ca0561f7f30ae4dc53f2851e02:333f4afc7cc948d6203af624b94b17e0:b1cac0f65344e7e523bd206211506128$</string>
            <key>textureFileName</key>
            <string>world.png</string>
        </dict>
    </dict>
</plist>
